<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <!-- Script Resourcen -->
    @Html.Partial("_MainScriptsPartial.cshtml")

    <!-- Controller/Action spezifisches Script -->
    @RenderSection("JavaScript", required: false)
    
    <!-- Controller/Action spezifisches Knockout Modell -->    
    @RenderSection("Knockout", required: false)

    <!-- Style Resourcen -->
    @Html.Partial("_DefaultStylesPartial.cshtml")

</head>

<body>

<!-- Navigationsbar -->
@Html.Partial("_ApplicationNavBarPartial.cshtml")    
    
<!-- Eigentlicher Seiteninhalt kommt hier rein -->
@RenderBody()

</body>
</html>
