@{
    Layout = "_Layout";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                @ViewData["Title"]
            </h5>
        </div>

        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    @RenderSection("ModelCols", required: true)
                </tr>
                </thead>
                <tbody>
                @RenderSection("ModelRows", required: true)
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <a asp-action="Create">@ViewData["TitleCreate"]</a>
        </div>
    </div>
</div>

@RenderBody()