@{
    Layout = "_Layout";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body pb-0">
            <h5 class="card-title mb-0">
                @ViewData["Title"]
                
                @RenderSection("Header", required: false)
            </h5>
        </div>
        
        <hr />

        @RenderSection("Content", required: true)

        <div class="card-footer">
            @RenderSection("Footer", required: true)
        </div>
    </div>
</div>

@RenderBody()
